In [20]:
## PyBank

In [21]:
import pandas as pd

In [22]:
from pathlib import Path

In [23]:
csvpath = Path("../PyBank/budget_data.csv")

In [24]:
budget_data = pd.read_csv(csvpath)

In [25]:
# In this activity, you are tasked with creating a Python script for analyzing the financial records of your company.
# You will be provided with a financial dataset in this file: [budget_data.csv](PyBank/Resources/budget_data.csv).
# This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting,
# so the records are simple.)

print(budget_data)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [26]:
budget_data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [27]:
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [28]:
# The total number of months included in the dataset.

len(budget_data["Date"])

86

In [36]:
# The net total amount of Profit/Losses over the entire period.

sum(budget_data["Profit/Losses"])

38382578

In [30]:
# The average of the changes in Profit/Losses over the entire period.
sum(budget_data["Profit/Losses"])/len(budget_data["Profit/Losses"])

446309.0465116279

In [31]:
# The greatest increase in profits (date and amount) over the entire period.
max(budget_data["Profit/Losses"])

1170593

In [32]:
# The greatest increase in profits (date and amount) over the entire period.
index = 0
for maximum in budget_data["Profit/Losses"]:
  if maximum == max(budget_data["Profit/Losses"]):
    print(f"Greatest increase in profits:", "$", maximum, "on", budget_data.loc[index,"Date"])
  index += 1

Greatest increase in profits: $ 1170593 on Feb-2012

In [33]:
#  The greatest decrease in losses (date and amount) over the entire period.
index = 0
for minimum in budget_data["Profit/Losses"]:
  if minimum == min(budget_data["Profit/Losses"]):
    print(f"Greatest loss in profits:", "$", minimum, "on", budget_data.loc[index,"Date"])
  index += 1

Greatest loss in profits: $ -1196225 on Sep-2013

In [34]:
# Your resulting analysis should look similar to the following:

#  ```text
#  Financial Analysis
#  ----------------------------
#  Total Months: 86
#  Total: $38382578
#  Average  Change: $-2315.12
#  Greatest Increase in Profits: Feb-2012 ($1926159)
#  Greatest Decrease in Profits: Sep-2013 ($-2196167)
#  ```

# Your final script should print the analysis to the terminal and export a text file with the results.

print("text")
print("Financial Analysis")
print("- - - - - - - - - - - -")
print("Total Month:", "$", len(budget_data["Date"]))
print("Total Profits:", "$", sum(budget_data["Profit/Losses"]))
print("Average Change:", "$", sum(budget_data["Profit/Losses"])/len(budget_data["Profit/Losses"]))
index = 0
for maximum in budget_data["Profit/Losses"]:
  if maximum == max(budget_data["Profit/Losses"]):
    print(f"Greatest increase in profits:", "$", maximum, "on", budget_data.loc[index,"Date"])
  index += 1
index = 0
for minimum in budget_data["Profit/Losses"]:
  if minimum == min(budget_data["Profit/Losses"]):
    print(f"Greatest loss in profits:", "$", minimum, "on", budget_data.loc[index,"Date"])
  index += 1

text
Financial Analysis
- - - - - - - - - - - -
Total Month: $ 86
Total Profits: $ 38382578
Average Change: $ 446309.0465116279
Greatest increase in profits: $ 1170593 on Feb-2012
Greatest loss in profits: $ -1196225 on Sep-2013